
body {
  padding:10px;
  background:url('img/concert-background.jpg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}
hr{
  border: none;
}
#tabset{
  background-color: rgba(245, 245, 245, 0.4);
  letter-spacing: 2px;
  color: #0F1E38;
  font-weight: 600;
}

#heading{
  font-weight:100;
  color: #251F2E;
}

/*.tab-content{
  background-color: rgba(245, 245, 245, 0.4);
  width:80%;
  
}
*/
#pointer{
  cursor: pointer;
}
div #pointer{
  text-align: center;
  margin-top: 5px;
}

.spotifyResponsive{
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 100%;
    margin-top: 10px;
}
#relatedCol{
  font-weight: 300px;

}


#footer{
    position:fixed-relative;
    bottom: 0;
    padding-right: 15px;
    background-color: rgba(245, 245, 245, 0.4);
}
