<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Spotify Template</title>
	
	<!-- Include libraries -->
	<script src="https://code.jquery.com/jquery.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js"></script>
	
	<!-- Read scripts -->
	<script src="app.js"></script>
	<link href="app.css" type="text/css" rel="stylesheet"/>	
	
</head>
<body>
	<!-- Initiate app -->
	<div ng-app="myApp" ng-controller="myCtrl">
		<!-- Form -->
		<form class="container" name="songForm">
			<div class="form-group">
				<label>Spotify search:</label>
				<input name="search" placeholder="Enter your search.." ng-model="artist" class="form-control"></input>
			</div>
			<div class="form-group">
				<button ng-disabled="songForm.search.$invalid" class="btn btn-primary" ng-click="getArtistID()" type="submit">Submit</button>
			</div>
		</form>
		
		<!-- Results -->
		<div class="container-fixed">
			<uib-tabset justified ng-show="toptracks.length>0">
				<uib-tab heading="Top Tracks" active="false">
					<table class="table table-striped" id="topTracks">
						<thead>
							<tr>
								<th>Song</th>
								<th>Album</th>
								<th>Sample Song</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in toptracks">
								<td>{{item.name}}</td>
								<td>{{item.album.name}}</td>
								<td>Placeholder for CSS animation</td>
							</tr>
						</tbody>
					</table>
				</uib-tab>
				</uib-tabset>
				
				<table class="table table-striped" id="album">
					<thead>
						<tr>
							<th>Album Name</th>			
						</tr>
					</thead>					
					<tbody>
						<tr ng-repeat="item in artistAlubm">
							<td>{{}}</td>
							<td></td>
						</tr>
					</tbody>
					</table>
		</div>
		
		<div class="container-fluid">
			<div class="row">
				<div class= "col-xs-6 col-md-4" ng-repeat="item in related">
					<div class="spotifyResponsive" style="background-image: url({{item.images[0].url}})"></div>
					<button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">{{item.name}}</button>
					<hr>
					<div uib-collapse="isCollapsed">
						<div class="well well-sm">
							<table class = "table table-striped">
								<thead>
									<tr>
										<th>Artist Info</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td id="relatedCol">Popularity</td>
										<td>{{item.popularity}}</td>
										<div></div>
									</tr>
									<tr>	
										<td id="relatedCol">Search for Similar Artists</td>
										<td><button type="button" class="btn btn-default"ng-click="getArtistID(item.name)">Link to Search</button></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>				
				</div>
			</div>
		</div>		
<!-- http://stackoverflow.com/questions/22618414/add-bootstrap-rows-during-ng-repeat
-->




<!-- 			<p ng-show="related.length>0" class="help-block">Click to sample</p>
			<ul>
				<li ng-repeat="item in related" class="" ng-click="play(track.preview_url)" >
					<img ng-src="{{item.images[2].url}}" title="{{item.name}}"></li>
				</ul> -->
			</div>
		</div>
	</div>
</body>
</html>
